//-----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html,
body {
    position: relative;
    &.menu-active {
        overflow: hidden;
    }
}
body {
    overflow: auto !important;
    padding-right: 0 !important;
    &.mega-menu-header-menu {
        .navbar-collapse {
            display: block !important;
        }
        .mobile-buttons {
            display: none !important;
        }
    }
}
main {
    @include responsive(xs-sm) {
        margin-top: 101px;
    }
    @include responsive(99px) {
        margin-top: 101px;
    }
    @include responsive(mobile) {
        margin-top: 80.61px;
    }
}
section {
    position: relative;
    overflow: hidden;
}
img {
    max-width: 100%;
}
p {
    @include last-child {
        margin-bottom: 0;
    }
}

a {
    text-decoration: none;
}

.button-box.button-box {
    @include button {
        @include button-style;
    }
    &.button-accent {
        @include button {
            background-color: var(--accent-color);
            color: var(--white-color);
            @include on-event {
                background-color: var(--secondary-color);
            }
        }
    }
    &.button-bordered {
        @include button {
            border-color: inherit;
            @include on-event {
                background-color: var(--secondary-color);
                color: var(--white-color);
                border-color: var(--secondary-color);
            }
        }
    }
    &.button-primary {
        @include button {
            border-color: var(--primary-color);
            background-color: var(--primary-color);
            color: var(--white-color);
            @include on-event {
                background-color: var(--white-color) !important;
                color: var(--primary-color) !important;
            }
        }
    }
    &.button-secondary {
        @include button {
            border-color: var(--secondary-color);
            background-color: var(--secondary-color);
            color: var(--white-color);
            @include on-event {
                background-color: var(--white-color) !important;
                color: var(--secondary-color) !important;
            }
        }
    }
    &.button-big {
        @include button {
            font-size: 1.5rem;
            padding: 1.125rem 1.5rem;
        }
    }
    &.icon-sixty-seconds {
        @include button {
            @include before {
                content: "";
                width: 57px;
                height: 40px;
                background-image: url(./assets/images/60secs.png);
                position: absolute;
                right: -30px;
                bottom: -20px;
                background-repeat: no-repeat;
                background-position: 5px;
                background-size: calc(100% - 10px);
                background-color: var(--accent-color);
                z-index: 1;
                border-radius: 50%;
                @include transition(300ms);
            }
            @include on-event {
                @include before {
                }
            }
        }
    }
}

.button-group-box {
    @include display-flex;
    .button-box {
        @include not-last-child {
            margin-right: 1rem;
        }
    }
}

input:not([type="submit"]):not(.qty):not([type="checkbox"]):not([type="radio"]):not(.search),
select,
textarea {
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    outline: none;
    padding: 13px;
    line-height: 1;
    font-size: 1rem;
    &::placeholder {
        color: #c6c9ce;
    }
}

#wpadminbar {
    @media screen and (max-width: 600px) {
        position: fixed;
    }
}
.page-title {
    display: none;
}

.has-edit {
    position: relative;
    overflow: hidden;
    @include on-event {
        .edit-contents {
            @include transform(translateX(0));
            color: var(--white-color);
        }
    }
}
.edit-holder {
    position: absolute;
    left: 0;
    top: 20px;
    .edit-contents {
        z-index: 3;
        background-color: var(--primary-color);
        padding: 10px 20px;
        display: inline-block;
        color: var(--white-color);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        border-radius: 0 30px 30px 0;
        border: none;
        @include transform(translateX(-100%));
        @include responsive(xs-sm) {
            display: none;
        }
    }
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: var(--gray-color-2);
    font-size: 11px;
    font-weight: bold;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-prev {
    left: -50px;
}
.swiper-button-next,
.swiper-rtl .swiper-button-next {
    right: -50px;
}
.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
    border: 2px solid var(--gray-color-2);
    border-radius: 50px;
    font-size: 20px;
}
.swiper-pagination {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    .swiper-pagination-bullet {
        &.swiper-pagination-bullet-active {
            background: var(--primary-color);
            width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
            height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
        }
    }
}

.stars {
    svg {
        width: 1.5rem;
        background-color: var(--secondary-color);
        padding: 5px;
        path {
            fill: var(--white-color);
        }
    }
    .stars-holder {
        > span {
            @include not-last-child {
                margin-right: 5px;
            }
        }
    }

    .gray-star {
        display: inherit;
        svg {
            background-color: var(--gray-color-2);
        }
    }
}

.grid-box {
    padding: 30% 1rem 8% 1rem;
    @include transition(500ms);
    overflow: hidden;

    .background-image {
        @include transition(500ms);

        @include before {
            @include responsive(xs-sm) {
                background: #000 !important;
                opacity: 0.5 !important;
                @include transition(300ms);
            }
        }
    }

    .heading-box,
    .button-box {
        z-index: 2;
    }

    .link {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    .grid-inner {
        .background-image {
            @include before {
                @include responsive(xs-sm) {
                    top: 0 !important;
                }
            }
        }
        @include responsive(xs-sm) {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 2rem;

            h2 {
                margin-bottom: 0;
                border-bottom: 2px solid var(--accent-color);
                display: inline;
                line-height: 1.3;
                font-size: 20px;
            }
        }

        @include responsive(md-lg) {
            @include before-after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 0;
                background: rgba(0, 0, 0, 0.2);
                z-index: 1;
            }

            @include before {
                @include transition(500ms);
                left: 0;
            }

            @include after {
                @include transition(500ms);
                right: 0;
            }
        }
        @include responsive(mobile) {
            padding: 1rem;
        }
    }

    @include responsive(xs-sm) {
        padding: 50%;
    }

    @include on-event {
        .grid-inner {
            @include before-after {
                width: 100%;
            }

            .background-image {
                @include before {
                    @include responsive(xs-sm) {
                        opacity: 0.65 !important;
                    }
                }
            }
        }
    }
}

.image-info-box {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    .top-icon {
        @include responsive(md-lg) {
            max-width: 35px;
        }
        @include responsive(xs-sm) {
            margin-left: auto;
            margin-right: auto;
            text-align: center !important;
        }
    }

    .main-image {
        position: relative;
        padding: 20%;
        margin-bottom: 1.875rem;
        @include responsive(xs-sm) {
            padding: 30%;
        }
        img,
        svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &.small-image {
        .main-image {
            padding: 12%;
        }
    }
}

.mySwiper-Testimonial {
    .swiper-slide {
        .swiper-holder {
            padding: 1.5rem 1.5rem 2.5rem 1.5rem;
            border-radius: 5px;
            background-color: var(--white-color);
            position: relative;
            .stars {
                margin-right: 1rem;
            }
            .day {
                @include responsive(mobile-xs) {
                    font-size: 0.75rem;
                }
            }
            .inner {
                max-width: 300px;
                .author-box {
                    position: absolute;
                    bottom: 1.5rem;
                    left: 1.5rem;
                }
            }
        }
    }
}

.subscribe-box {
    input[type="email"] {
        max-width: 275px;
        @include responsive(xxs) {
            max-width: 100%;
            border-radius: 5px 5px 0 0 !important;
            text-align: center;
        }
    }
    input[type="submit"] {
        @include responsive(xxs) {
            border-radius: 0 0 5px 5px !important;
        }
    }

    .wpcf7-spinner {
        position: absolute;
        right: -30px;
        margin: 0;
        bottom: 13px;
    }
    .description-box.mt-3 {
        font-size: 14px;
        a {
            color: #25384a;
        }
    }
    input {
        @include responsive(xxs) {
            width: 100%;
            max-width: 100%;
        }
    }
    [class*="col-"] {
        @include responsive(xxs) {
            flex: 0 0 100%;
        }
    }
}

.accordion-box {
    .accordion {
        .accordion-item {
            margin-bottom: 20px;
            padding: 2rem;
            border-radius: 5px;
            border: none;

            .accordion-button {
                background-color: transparent;
                font-size: 1.5rem;
                font-weight: 500;
                @include box-shadow(none);
                padding: 0;
                color: inherit;

                &:after {
                    width: 2rem;
                    height: 2rem;
                    background-size: 2rem;
                }

                .icon {
                    width: 2.5rem;
                    height: 2.5rem;
                    flex: 0 0 2.5rem;
                    margin-right: 1.25rem;
                }
            }

            .accordion-body {
                padding: 2rem 0 0 0;
            }
        }
    }

    &:not(.accordion-no-icon) {
        .accordion {
            .accordion-item {
                .accordion-body {
                    padding-left: 3.75rem;
                }
            }
        }
    }

    &.accordion-no-icon {
        .accordion {
            .accordion-item {
                .accordion-button {
                    font-size: 2.125rem;
                    padding: 0;

                    @include responsive(xs-sm) {
                        font-size: 1.75rem;
                    }

                    @include responsive(xs) {
                        font-size: 1.5rem;
                    }
                }

                .accordion-body {
                    padding-left: 0;
                    padding-bottom: 2rem;
                }
            }
        }
    }
}

.title-container {
    max-width: 915px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 3rem;

    > .inner {
        max-width: 737px;

        margin-left: auto;
        margin-right: auto;

        > div {
            @include not-last-child {
                margin-bottom: 1.5rem !important;
            }
        }
    }

    .description-box {
        font-size: 1.25rem;
    }

    .heading-box {
        h2 {
            margin-bottom: 1rem;
            font-weight: 600;
        }
    }

    &.title-container-v2 {
        padding: 4rem 3rem;

        @include responsive(xs-sm) {
            padding: 3rem 2rem;
        }
    }

    @include responsive(xs-sm) {
        padding: 2rem;
    }
}

.fieldset-cf7mls-wrapper.fieldset-cf7mls-wrapper {
    label {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        font-size: 17px;
        text-align: left;
        font-weight: 500;
        .wpcf7-form-control-wrap {
            margin-top: 14px;
        }
        input,
        select {
            width: 100%;
        }
        @include not-last-child {
            margin-bottom: 1.25rem;
        }
        .required {
            color: #e53f1e;
        }
    }
    .wpcf7-submit {
        width: 100%;
        margin-bottom: 0 !important;
    }
    .cf7mls-btns {
        text-emphasis: center;
        .cf7mls_back {
            float: none;
            padding: 0;
            background-color: transparent;
            color: #c6c9ce;
            font-size: 17px;
            margin-top: 0;
        }
        .cf7mls_next {
            @include button-style;
            border-color: var(--secondary-color);
            background-color: var(--secondary-color);
            color: var(--white-color);
            border: 2px solid var(--secondary-color) !important;
            width: 100%;
            @include on-event {
                background-color: var(--white-color) !important;
                color: var(--secondary-color) !important;
            }
        }
    }
}

.form-section {
    h2 {
        margin-bottom: 1rem;
    }
    .fields-holder {
        margin-top: 100px;
        @include responsive(xs) {
            margin-top: 0;
        }
    }
    .fields-holder,
    .cf7mls-btns {
        max-width: 385px;
        margin-left: auto;
        margin-right: auto;
    }
}

.form-progress {
    background-color: #f3f3f3;
    height: 7px;
    position: sticky;
    top: 0;
    z-index: 1;
    .progress-holder {
        background-color: var(--secondary-color);
        width: var(--progress-width);
        transition: 500ms;
        height: 100%;
    }
}

.admin-bar {
    .form-progress {
        top: 32px;
    }
}

.page-template-page-form {
    section {
        overflow: auto;
    }
}

.contact-details-holder {
    p {
        a {
            color: var(--primary-color);
        }
        @include not-last-child {
            margin-bottom: 0;
        }
    }
}

.offcanvas-backdrop.offcanvas-backdrop {
    display: none;
}
.form-style-1 {
    .row {
        [class*="col"] {
            > label {
                width: 100%;
                > span {
                    display: block;
                    text-align: left;
                    .required {
                        color: #e53f1e;
                    }
                }
                input,
                textarea {
                    width: 100%;
                }
                textarea {
                    height: 105px;
                }
            }
        }
    }
    .wpcf7-form-control-wrap {
        margin-top: 14px;
    }
}
.wpcf7-acceptance.wpcf7-acceptance.wpcf7-acceptance {
    max-width: 358px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    .wpcf7-list-item {
        margin: 0;
    }
    label {
        flex-direction: row;
        align-items: flex-start;
        font-weight: 300;
        color: #949aa1;
        display: flex;
        text-align: left;
        font-size: 16px;
        input {
            width: 20px;
            margin-top: 4px;
            margin-right: 10px;
        }
    }
}
.wpcf7-form.wpcf7-form {
    .wpcf7-submit.wpcf7-submit.wpcf7-submit {
        @include button-style;
        background-color: var(--accent-color);
        color: var(--white-color);
        @include on-event {
            background-color: var(--secondary-color);
        }
    }
}
