/**
 * Basic typography style for copy text
 */
 html {
    font-size: 16px;
    body {
        font-family: var(--primary-font);
        color: var(--primary-color);
        line-height: 1;
        font-size: 1.375rem;
        font-weight: 400;
    }
    @include responsive('xs-sm') {
        font-size: 15px;
    }

    @include responsive('xs') {
        font-size: 14px;
    }

    @include responsive('mobile') {
        font-size: 13px;
    }
}	

a {
  transition: all 500ms ease;
  line-height: 1.2
}
p, li {
  line-height: 1.6;
  @include responsive(mobile) {
     font-size: 14px;
 }
}
p {
  margin-bottom: 2.5rem;
  font-weight: 300;
}
a,
button,
input[type="submit"] {
  @include on-event() {
     outline: none !important;
 }
}

@include headings {
  font-weight: 600;
}
h2 {
    font-size: 2.125rem;
    margin-bottom: 3.125rem;
    @include responsive(xs-sm) {
        font-size: 2.4rem;
    }
    @include responsive(xs) {
        font-size: 2.2rem;
    }
}
h3 {
    font-size: 1.875rem;
}
h4 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
h5 {
    font-size: 1rem;
}
.extra-samll-text {
    font-size: 12px;
}

.small-text {
    font-size: 1rem;
}

.medium-text {
    font-size: 1.125rem;
}
.fw-semibold {
    font-weight: 600;
}

.big-heading {
    h2 {
        font-size: 3.875rem;
        @include responsive(xs-sm) {
            font-size: 3rem;
        }
      
    }
}

.medium-heading, .h2 {
    @include headings {
        font-size: 2.625rem;
    }
    h2 {
        font-size: 2.625rem;
    }
}