section.footer-logos {
	position: relative;
	@include before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		background-color: var(--gray-color-3);
		width: 25%;
		z-index: -1;
	}
}

section.footer-navigation {
	border-top: 3px solid var(--gray-color-3);
	border-bottom: 3px solid var(--gray-color-3);
	ul {
		margin-left: -1rem;
		margin-right: -1rem;
		li {
			padding-left: 1rem;
			padding-right: 1rem;
			a {
				color: var(--primary-color);
			}
			@include responsive(xs-md) {
				flex: 0 0 25%;
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
			}
			@include responsive(xs) {
				flex: 0 0 33.333333%;
				text-align: left;
			}
			@include responsive(mobile) {
				flex: 0 0 100%;
				text-align: center;
			}
		}
		@include responsive(xs-md) {
			justify-content: flex-start !important;
		}
	}
}

#footerForm {
	height: auto;
	.fieldset-cf7mls-wrapper {
		.fieldset-cf7mls {
			display: flex;
			align-items: center;
		}
	}

	input {
		border: none;
		border-radius: 5px 0 0 5px;
	}
	button {
		border-radius: 0 5px 5px 0;
	}
}
