section.header-navigation {
	.container {
		@media(max-wi: 1399px) {
			max-width: 100%;
		}
	}
	.navbar {
		.navbar-collapse {
			ul.navbar-nav {
				font-size: 1.125rem;
				li.menu-item {
					&:not(.button-box) {
						@include responsive(md-lg) {
							padding-left: 1rem;
							padding-right: 1rem;
						}
						a.nav-link {
							color: var(--primary-color);
							border-bottom: 1px solid transparent;
							@include responsive(xs-sm) {
								color: var(--white-color);
								padding-top: 0;
								padding-bottom: 0;
								min-width: 194px;
								text-align: center;
								font-size: 18px;
							}
							@include on-event {
								border-color: var(--primary-color);
								@include responsive(xs-sm) {
									border-color: var(--white-color);
								}
							}
						}
					}
					& + .button-box {
						@include responsive(md-lg) {
							margin-left: 1.25rem;
						}
					}
					&.button-box {
						a.nav-link {
							font-size: 18px;
							@include responsive(xs-sm) {
								min-width: 194px;
							}
						}
						& + .button-box {
							@include responsive(md-lg) {
								margin-left: 10px;
							}
						}
					}
					@include responsive(xs-sm) {
						@include not-last-child {
							margin-bottom: 1.5rem;
						}
					}
				}
			}
			@include responsive(xs-sm) {
				position: fixed;
				top: 101px !important;
				height: calc(100% - 101px) !important;
				width: 100%;
				bottom: 0 !important;
				padding-top: 0;
				@include padding-left-right(0);
				background-color: var(--primary-color);
				left: -100% !important;
				z-index: 999;
				@include transition(300ms);
				overflow: auto;
				padding-bottom: 30px;
				.navbar-brand {
					text-align: center;
					margin-bottom: 30px;
					img {
						max-width: 100px;
					}
				}
				&.show {
					left: 0 !important;
				}
				@include responsive(xs) {
					top: 99px !important;
					height: calc(100% - 99px) !important;
				}
				@include responsive(mobile) {
					top: 80.61px !important;
					height: calc(100% - 80.61px) !important;
				}
			}
		}
	}
	.site-logo {
		img {
			max-height: 70px;
			@include responsive(mobile) {
				max-height: 70px;
			}
		}
	}
	.navbar-toggler.navbar-toggler {
		position: relative;
		z-index: 1;
		padding: 0;
		margin: 0;
		border: none;
		z-index: 9999;
		@include box-shadow(none);
		.navbar-toggler-icon {
			width: 20px;
			height: 20px;
			margin-left: 20px;
			position: relative;
			background-image: none;
			.icon-bar {
				display: block;
				height: 2px;
				background-color: var(--primary-color);
				position: absolute;
				width: 100%;
				@include transition(300ms);
				&:nth-child(1) {
					top: 0;
				}
				&:nth-child(2) {
					top: 9px;
				}
				&:nth-child(3) {
					bottom: 0;
				}
			}
			.fa-xmark {
				display: none;
			}
		}
		&[aria-expanded="true"] {
			.navbar-toggler-icon {
				.icon-bar {
					&:nth-child(1) {
						@include transform(rotate(45deg));
						top: 9px;
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(3) {
						@include transform(rotate(-45deg));
						top: 9px;
					}
				}
			}
		}
	}

	section.header-bottom {
		.container {
			@include responsive(xs-sm) {
				max-width: 100%;
			}
		}
	}
	& + .header-bottom {
		position: relative;
		z-index: 999999;
		height: 62px;
		.header-bottom-holder {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			&.sticky {
				position: fixed;
				@include box-shadow(0px 0px 5px 0px rgba(0, 0, 0, 0.75));
			}
		}
		@include responsive(xs-sm) {
			display: none;
		}
	}

	@include responsive(xs-sm) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		@include box-shadow(0px 0px 5px 0px rgba(0, 0, 0, 0.75));
	}
}

section.header-icon-list {
	[class*="container"] {
		@include responsive(xs-sm) {
			padding: 0;
			max-width: 100%;
		}
	}
	ul {
		li {
			a {
				padding-top: 1rem;
				padding-bottom: 1rem;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				span.text {
					white-space: nowrap;
				}
				span.icon {
					flex: 0 0 30px;
					height: 30px;
					margin-right: 1rem;
					img {
						object-fit: contain;
						height: 100%;
						width: 100%;
					}
					@include responsive(xs-sm) {
						margin-left: auto;
						margin-right: auto;
						margin-bottom: 2rem;
						flex: 0 0 100%;
						img {
							width: 50px;
							height: 50px;
						}
					}
				}
				@include on-event {
					background-color: #44b4ad;
				}
				@include responsive(xs-sm) {
					padding-top: 1.75rem;
					padding-bottom: 1.75rem;
					width: 100%;
					font-size: 18px;
				}
				@include responsive(xs-md) {
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}
			@include responsive(xs-sm) {
				border: 1px solid var(--white-color);
			}
		}
		@include responsive(xs-sm) {
			margin: -1px !important;
		}
	}
}

.admin-bar {
	section.header-navigation {
		.navbar {
			.navbar-collapse {
				@include responsive(xs-sm) {
					top: calc(101px + 32px) !important;
					height: calc(100% - 101px - 32px) !important;
					@media (max-width: 782px) {
						top: calc(99px + 46px) !important;
						height: calc(100% - 99px - 46px) !important;
					}
					@include responsive(mobile) {
						top: calc(80.61px + 46px) !important;
						height: calc(100% - 80.61px - 46px) !important;
					}
				}
			}
		}
		& + .header-bottom {
			.header-bottom-holder {
				&.sticky {
					position: fixed;
					margin-top: 32px;
				}
			}

			@include responsive(xs-sm) {
				display: none;
			}
		}
		@include responsive(xs-sm) {
			top: 32px;
		}
		@media (max-width: 782px) {
			top: 46px;
		}
	}
}
