$white: #fff;
$main_color: #23282d;
$gray: #cecece;
$karla: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
	sans-serif;
$blue: #2271b1;
@mixin black-white {
	background-color: $main_color;
	color: $white;
}
@mixin white-black {
	background-color: $white;
	color: $main_color;
}

@mixin gray-black {
	background-color: $gray;
	color: $main_color;
}

#carbon_fields_container_theme_options {
	margin-top: 50px;
	.theme-options-container {
		.cf-container {
			display: flex;
			.cf-container__tabs {
				padding: 0;
				margin: 0;
				background-color: $main_color;
				border-bottom: none;
				width: 220px;
				min-height: 600px;
				ul.cf-container__tabs-list {
					li.cf-container__tabs-item {
						width: 100%;
						margin: 0;
						border: none;
						letter-spacing: 0.5px;
						text-transform: uppercase;
						@include black-white;
						&.cf-container__tabs-item--current {
							@include gray-black;
						}
					}
				}
			}
			> .cf-container__fields {
				display: block;
				width: 100%;
				.cf-field {
					border-right: none;
				}
				&[hidden] {
					display: none;
				}
			}
		}
	}
	&:before {
		content: "Theme Options";
		font-size: 22px;
		background-color: $main_color;
		position: absolute;
		z-index: 2;
		padding: 10px 10px;
		top: -56px;
		left: 0;
		color: $white;
		font-weight: bold;
		text-transform: uppercase;
		right: 0;
		text-align: center;
	}
}

.custom-label {
	border: none !important;
	font-weight: 600;
	color: #23282d;
	padding-bottom: 5px !important;
	text-transform: uppercase;
}
.checkbox {
	border-top: none !important;
	padding-top: 0 !important;
}

body {
	font-family: $karla;
}
#wpadminbar * {
	font-family: $karla;
}

.select2-container {
	width: 100% !important;
}

.custom-label-bg {
	background-color: #777777;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 8px !important;
	text-transform: uppercase;
}

.cf-field__body {
	select {
		max-width: 100%;
		width: 100%;
	}
}

#carbon_fields_container_page_components {
	z-index: 2;
}
.cf-complex__tabs-item--tabbed-vertical.cf-complex__tabs-item--current {
	color: #fff !important;
	background-color: #32373c !important;
}

.columns-complex {
	.cf-complex__tabs--tabbed-horizontal {
		display: inline-flex;
		width: 90%;
		.cf-complex__tabs-list {
			width: 100%;
			li.cf-complex__tabs-item {
				width: 20%;
				span {
					&:before {
						content: "Column ";
					}
				}
				&.cf-complex__tabs-item--current {
					color: #fff !important;
					background-color: #32373c !important;
				}
			}
		}
	}
}

.label-heading {
	border: none;
	margin-left: -1px;
	position: absolute;
	top: 5px;
	left: 150px;
	border-radius: 3px;
	a {
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		padding: 7px 12px !important;
		background-color: #32373c;
	}
}

.cf-field.cf-html.seperator {
	font-weight: bold;
	background-color: #1d2327;
	padding: 0;
	.cf-html__content {
		label {
			color: #fff;
			padding: 10px;
			display: block;
			letter-spacing: 1px;
			font-size: 12px;
		}
	}
}

.cf-complex--grid .cf-complex__group.cf-complex__group {
	margin-bottom: 30px;
}

.mce-menu.mce-menu .mce-menu-item.mce-active.mce-menu-item-preview {
	background-color: #3b3b3b !important;
}

.mce-menu-item.mce-menu-item-preview.mce-active .mce-text {
	color: #fff !important;
}
.mce-i-dashicons-button {
	&:before {
		content: "\f11a";
		font-family: dashicons;
		display: inline-block;
		line-height: 1;
		font-weight: 400;
		font-style: normal;
		speak: never;
		text-decoration: inherit;
		text-transform: none;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		width: 20px;
		height: 20px;
		font-size: 20px;
		vertical-align: top;
		text-align: center;
		transition: color 0.1s ease-in;
		margin-right: 5px;
	}
}

.cf-complex__group-head {
	background-color: $blue;
}

.carbon-theme-options {
	h2 {
		background-color: #1d2327;
		color: #fff;
		padding: 10px !important;
		letter-spacing: 1px;
		font-weight: bold !important;
	}
}

.cf-container.cf-container {
	.cf-field__label {
	}
	input[type="date"],
	input[type="datetime-local"],
	input[type="datetime"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	select,
	textarea {
		border-radius: 0;
		padding: 10px;
		line-height: 1;
		min-height: 40px;
	}
}

.block-editor.block-editor .cf-media-gallery__item {
	flex-basis: 100px;
}

.block-editor .cf-field .cf-search-input__inner,
.cf-container .cf-search-input__inner {
	padding-left: 35px !important;
}

.svg-list {
	display: flex;
	flex-wrap: wrap;
	li {
		flex: 0 0 10%;
		text-align: center;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 !important;
		width: 10%;
		position: relative;
		button {
			border: none;
			background: none;
			width: 100%;
			height: 50px;
			cursor: pointer;
		}
		svg {
			width: 100%;
			height: 50px;
		}
		&:before {
			content: "";
			position: absolute;
			left: -1px;
			top: -1px;
			right: -1px;
			bottom: -1px;
			border: 1px solid;
			z-index: -1;
		}
	}
}

#TB_ajaxContent {
	width: calc(100% - 30px) !important;
	padding: 0;
}

#TB_window {
	background-color: #e2e2e2 !important;
}

.nice-select.nice-select {
	color: #282124;
	float: none;
	width: auto;
	border-radius: 0;
	border-color: #929292;
	padding-left: 40px;

	.list {
		height: 300px;
		overflow: auto !important;
		background-color: #ebebeb !important;
		li {
			background-repeat: no-repeat;
			padding-left: 50px;
			background-size: 30px;
			background-position: 10px center;
			background-color: #ebebeb;
			border-bottom: 1px solid #bcbcbc;
			margin: 0 !important;
		}
		&:hover {
			li {
				background-color: #bcbcbc;
			}
		}
	}
	&:before {
		content: "";
		width: 30px;
		display: block;
		position: absolute;
		left: 5px;
		top: 5px;
		bottom: 5px;
		background-color: #d0d0d0;
		background-size: 80% 80%;
		background-position: center;
		background-repeat: no-repeat;
	}
}
[current-icon=""] {
	padding-left: 10px !important;
	&:before {
		content: none !important;
	}
}

#carbon_fields_container_modules {
	z-index: 1;
}