#carbon_fields_container_theme_options {
  margin-top: 50px; }
  #carbon_fields_container_theme_options .theme-options-container .cf-container {
    display: flex; }
    #carbon_fields_container_theme_options .theme-options-container .cf-container .cf-container__tabs {
      padding: 0;
      margin: 0;
      background-color: #23282d;
      border-bottom: none;
      width: 220px;
      min-height: 600px; }
      #carbon_fields_container_theme_options .theme-options-container .cf-container .cf-container__tabs ul.cf-container__tabs-list li.cf-container__tabs-item {
        width: 100%;
        margin: 0;
        border: none;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        background-color: #23282d;
        color: #fff; }
        #carbon_fields_container_theme_options .theme-options-container .cf-container .cf-container__tabs ul.cf-container__tabs-list li.cf-container__tabs-item.cf-container__tabs-item--current {
          background-color: #cecece;
          color: #23282d; }
    #carbon_fields_container_theme_options .theme-options-container .cf-container > .cf-container__fields {
      display: block;
      width: 100%; }
      #carbon_fields_container_theme_options .theme-options-container .cf-container > .cf-container__fields .cf-field {
        border-right: none; }
      #carbon_fields_container_theme_options .theme-options-container .cf-container > .cf-container__fields[hidden] {
        display: none; }
  #carbon_fields_container_theme_options:before {
    content: "Theme Options";
    font-size: 22px;
    background-color: #23282d;
    position: absolute;
    z-index: 2;
    padding: 10px 10px;
    top: -56px;
    left: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    right: 0;
    text-align: center; }

.custom-label {
  border: none !important;
  font-weight: 600;
  color: #23282d;
  padding-bottom: 5px !important;
  text-transform: uppercase; }

.checkbox {
  border-top: none !important;
  padding-top: 0 !important; }

body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

#wpadminbar * {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.select2-container {
  width: 100% !important; }

.custom-label-bg {
  background-color: #777777;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 8px !important;
  text-transform: uppercase; }

.cf-field__body select {
  max-width: 100%;
  width: 100%; }

#carbon_fields_container_page_components {
  z-index: 2; }

.cf-complex__tabs-item--tabbed-vertical.cf-complex__tabs-item--current {
  color: #fff !important;
  background-color: #32373c !important; }

.columns-complex .cf-complex__tabs--tabbed-horizontal {
  display: inline-flex;
  width: 90%; }
  .columns-complex .cf-complex__tabs--tabbed-horizontal .cf-complex__tabs-list {
    width: 100%; }
    .columns-complex .cf-complex__tabs--tabbed-horizontal .cf-complex__tabs-list li.cf-complex__tabs-item {
      width: 20%; }
      .columns-complex .cf-complex__tabs--tabbed-horizontal .cf-complex__tabs-list li.cf-complex__tabs-item span:before {
        content: "Column "; }
      .columns-complex .cf-complex__tabs--tabbed-horizontal .cf-complex__tabs-list li.cf-complex__tabs-item.cf-complex__tabs-item--current {
        color: #fff !important;
        background-color: #32373c !important; }

.label-heading {
  border: none;
  margin-left: -1px;
  position: absolute;
  top: 5px;
  left: 150px;
  border-radius: 3px; }
  .label-heading a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 12px !important;
    background-color: #32373c; }

.cf-field.cf-html.seperator {
  font-weight: bold;
  background-color: #1d2327;
  padding: 0; }
  .cf-field.cf-html.seperator .cf-html__content label {
    color: #fff;
    padding: 10px;
    display: block;
    letter-spacing: 1px;
    font-size: 12px; }

.cf-complex--grid .cf-complex__group.cf-complex__group {
  margin-bottom: 30px; }

.mce-menu.mce-menu .mce-menu-item.mce-active.mce-menu-item-preview {
  background-color: #3b3b3b !important; }

.mce-menu-item.mce-menu-item-preview.mce-active .mce-text {
  color: #fff !important; }

.mce-i-dashicons-button:before {
  content: "\f11a";
  font-family: dashicons;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  speak: never;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-size: 20px;
  vertical-align: top;
  text-align: center;
  transition: color 0.1s ease-in;
  margin-right: 5px; }

.cf-complex__group-head {
  background-color: #2271b1; }

.carbon-theme-options h2 {
  background-color: #1d2327;
  color: #fff;
  padding: 10px !important;
  letter-spacing: 1px;
  font-weight: bold !important; }

.cf-container.cf-container input[type="date"],
.cf-container.cf-container input[type="datetime-local"],
.cf-container.cf-container input[type="datetime"],
.cf-container.cf-container input[type="email"],
.cf-container.cf-container input[type="month"],
.cf-container.cf-container input[type="number"],
.cf-container.cf-container input[type="password"],
.cf-container.cf-container input[type="search"],
.cf-container.cf-container input[type="tel"],
.cf-container.cf-container input[type="text"],
.cf-container.cf-container input[type="time"],
.cf-container.cf-container input[type="url"],
.cf-container.cf-container input[type="week"],
.cf-container.cf-container select,
.cf-container.cf-container textarea {
  border-radius: 0;
  padding: 10px;
  line-height: 1;
  min-height: 40px; }

.block-editor.block-editor .cf-media-gallery__item {
  flex-basis: 100px; }

.block-editor .cf-field .cf-search-input__inner,
.cf-container .cf-search-input__inner {
  padding-left: 35px !important; }

.svg-list {
  display: flex;
  flex-wrap: wrap; }
  .svg-list li {
    flex: 0 0 10%;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    width: 10%;
    position: relative; }
    .svg-list li button {
      border: none;
      background: none;
      width: 100%;
      height: 50px;
      cursor: pointer; }
    .svg-list li svg {
      width: 100%;
      height: 50px; }
    .svg-list li:before {
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border: 1px solid;
      z-index: -1; }

#TB_ajaxContent {
  width: calc(100% - 30px) !important;
  padding: 0; }

#TB_window {
  background-color: #e2e2e2 !important; }

.nice-select.nice-select {
  color: #282124;
  float: none;
  width: auto;
  border-radius: 0;
  border-color: #929292;
  padding-left: 40px; }
  .nice-select.nice-select .list {
    height: 300px;
    overflow: auto !important;
    background-color: #ebebeb !important; }
    .nice-select.nice-select .list li {
      background-repeat: no-repeat;
      padding-left: 50px;
      background-size: 30px;
      background-position: 10px center;
      background-color: #ebebeb;
      border-bottom: 1px solid #bcbcbc;
      margin: 0 !important; }
    .nice-select.nice-select .list:hover li {
      background-color: #bcbcbc; }
  .nice-select.nice-select:before {
    content: "";
    width: 30px;
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    bottom: 5px;
    background-color: #d0d0d0;
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat; }

[current-icon=""] {
  padding-left: 10px !important; }
  [current-icon=""]:before {
    content: none !important; }

#carbon_fields_container_modules {
  z-index: 1; }

/*# sourceMappingURL=admin-css.css.map */
